footer  
    background rgba($headfoot-primary, .9)    
    padding-top 15px
    padding-bottom 15px  
    font-size: 1rem
	box-sizing border-box    
    width 100%
	position absolute
	bottom 0	
	height 60px
	
body 
	display flex
	flex-direction column
main 
	flex-grow 1

    