header
  background rgba($headfoot-primary, .9)  
  color #ffffff  
  
.collapse
    justify-content center	
    
.active    
	border-bottom 4px solid rgba($active-nav, .8)	

.navbar-dark .nav-item > .nav-link.active  
    color white
	
.mypadding
	padding-top 0
	padding-bottom 0
	
.nav-item 
	a
		font-weight 400
		font-size 18px
		&:hover
			border-bottom 4px solid rgba($active-nav, .8)	
			transition .5s
			font-weight 400		
			
	