*
    margin 0	

html
    color #000 
 	font-family $font-common
	position relative
	
	
body  
    background #ffffff	
	display flex
	flex-direction column
	
html, body 
	width 100%
	height 100%
	overflow-x hidden

main 
	flex-grow 1
