*
    margin 0

html
    color #000 
    height 100%
	font-family $font-common	
	
body  
    height 100%  
    display flex
    flex-direction column
    background #ffffff
   
    
   
    

  

      
  
      
